extends ./views/_plantilla.pug
//- block contenido

//- 	section(class="hero")
//- 		p(class="hero--descripcion") GoPass, un ecosistema de movilidad diseñado especialmente para ti, con GoPass 
//- 			| ahora es más fácil pagar los parqueaderos, los peajes, el combustible del vehículo, 
//- 			| las compras en comercios y adquirir servicios. !Todo con un solo TAG!
//- 		img(src=require("./assets/images/gopassHome.png").default, alt="gopass")
//- 		a(href="#") ¡adquiere tu tag!

//- 	section(class="descripcion")
//- 		.descripcion__imagen
//- 			img(clas="descripcion__imagen--responsive" src=require("./assets/images/gopassDescripcion.png").default, alt="gopass")
//- 			img(clas="descripcion__imagen--pc" src=require("./assets/images/gopassDescripcionResponsive.png").default, alt="gopass")
//- 		.descripcion__titulo
//- 			p el tag que no solo te funcion para pagar los peajes.
//- 		.descripcion__texto
//- 			p en GoPass tienes un ecosistema de servicios a tu disposición, olvídate de los papelitos 
//- 				| cuando tengas que pagar el parqueadero del centro comercial. Ingresa y sal sin ningún 
//- 				| problema, paga desde tu teléfono el combustible de tu vehículo o actualiza tu SOAT con un sólo toque.

//- 	section(class="items")
//- 		.items__caja
//- 			img(src=require("./assets/images/gopassSeguro.png").default, alt="gopass")
//- 		.items__caja
//- 			img(src=require("./assets/images/gopassFacil.png").default, alt="gopass")
//- 		.items__caja
//- 			img(src=require("./assets/images/gopassSiempre.png").default, alt="gopass")
